body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.me{
    height: 600px;
    width: 525px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.resume{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
h1.hi{
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: #FF69B4;
    margin-bottom: 20px;
}

#par{
    margin-top: 20%;
    
}
nav img{
    height: 50px;
    width: 90px; 
}


.card-img-overlay{
    padding-top: 250px;
    padding-left: 100px;

}

.name{
    position: relative;
    height: 40px;
    width: 200px;
    border-radius: 10%;
    background-color: #d19b68;
    padding-left: 20px;
    padding-top: 6px;
}

.home{
    background-color: #ffe4c4;
}
.about{
    background-color: #92887e;
}
.aboutp{
    align-items: center;
    text-align: center;

}
.resume{
    background-color: #8592a3;
}
.projects{
    background-color: #f1e9e9;
}
.services{
    background-color: #5a7495;
}
.contact{
    background-color: rgb(213, 194, 171);
}

 
  .imgt{
    height: 500px;
    width: 500px;
  }
 